server:
 port: 8080
 ssl:
   key-store: classpath:ssl/keystore.p12
   key-store-type: PKCS12
   key-store-password: ${sm://db-pwd}
   
springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  api-docs:
    groups:
      enabled: true
  swagger-ui:
    operations-sorter: alpha # alpha(알파벳 오름차순), method(HTTP메소드순)
    tags-sorter: alpha # 태그 정렬 기준
    path: /swagger-ui.html # html 문서 접속 경로
    disable-swagger-default-url: true
    doc-expansion: none # tag, operation 펼치는 방식

spring:
 redis:
    port: ${sm://redis-port}
    host: ${sm://redis-url}
    password: ${sm://db-pwd}
 datasource:
  master:
   hikari:
    driver-class-name: org.postgresql.Driver
    jdbc-url: ${sm://jdbc-url}
    username: app_user
    password: ${sm://db-pwd}
    read-only: false
  slave: # DB replication 적용 후 replica DB로 정보 수정
   hikari:
    driver-class-name: org.postgresql.Driver
    jdbc-url: ${sm://jdbc-url}
    username: app_user
    password: ${sm://db-pwd}
    read-only: true
 jpa:
  database: postgresql
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  defer-datasource-initialization: true
 mvc:
  pathmatch:
   matching-strategy: ANT_PATH_MATCHER
  throw-exception-if-no-handler-found: true
 web:
    resources:
      add-mappings: false

logging:
  file:
    path: ../logs/
    name: console.log
  logback:
    rollingpolicy:
      max-history: 90
  pattern:
    file: "%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS}} [${LOG_LEVEL_PATTERN:%5p}] [%10.10X{userId}]) [%15.15t]) %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
  level:
    root: info
    com:
     playground: debug

decorator:
  datasource:
    exclude-beans: dataSource
    p6spy:
      enable-logging: false

CRYPTO_PWD: ${sm://crypto-pwd}
CRYPTO_SALT: ${sm://crypto-pwd}
